body{
  background-color: #0D1723;
  color: #8eccbf;
  font-family: 'Rokkitt', serif;
  cursor: crosshair;
}
label{
  color: #638e85;
  margin-right: 10px;
  font-size: 25px;
}
input{
  color: #8eccbf;
  border: none;
  border-bottom: 2.5px solid #8eccbf;
  display: table-cell;
  width: 250px;
  background-color: #0D1723;
  font-size: 25px;
}
input:focus {
  outline: none;
  background: -webkit-linear-gradient(left top, #8eccbf, white);
  opacity: 0.4;
  color: #110F25;
}
#player1-add-bases-button, #player2-add-bases-button, #attack-select{
  float: left;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin-right: 5px;
}
form{
  display: table;
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
}
h1{
  font-family: 'Kumar One', cursive;
  font-size: 7em;
  text-align: center;
}
#sample {
  margin: 0 auto;
  border: 2px solid #8eccbf;
}

.btn-default1 {
  background-color: #182534;
  border: 2px solid #203246;
  color: #8eccbf;
  font-size: 20px;
}

.btn-default {
  background-color: #182534;
  border: 2px solid #203246;
  color: #8eccbf;
  font-size: 20px;
}

.btn-default:hover, .btn-default:active, .btn-default:visited {
  background-color: #283e57;
  border: 2px solid #203246;
  color: #8eccbf;
  outline: none;
}

.storyLine {
  width: 800px;
  margin: 0 auto;
  text-align: justify;
  display: none;
  margin-top: 30%;
}
.gameOption {
  width: 266px;
  margin: 0 auto;
  display: none;
}
.gameOption h3{
  text-align: center;
}
.gameButton{
  text-align: center;
}
.title{
  margin-top: 20%;
  font-size: 9em;
}

.intro{
  width: 100%;
  height: 100%;
}
#player2-select-screen{
  display: none;
}

strong{
  text-decoration: underline;
}
.baseButton{
  width: 160px;
  text-align: center;
}

.disable-button {
  opacity: 0.65;
  cursor: not-allowed;
  pointer-events: none;
}

<<<<<<< HEAD
.pick-five-states-1, .pick-five-states-2{
  color: white;
  font size: 3em;
}

.initial-hide{
  display: none;
}

.coming-soon:hover{
  .initial-hide{
    display:block;
    }
=======
.glitch {
  font-size: 9em;
  position: relative;
  width: 1000px;
  margin: 0 auto;
  margin-top: 30%;
}

@keyframes noise-anim {
  0% {
    clip: rect(80px, 9999px, 52px, 0);
  }
  5% {
    clip: rect(34px, 9999px, 55px, 0);
  }
  10% {
    clip: rect(16px, 9999px, 20px, 0);
  }
  15% {
    clip: rect(15px, 9999px, 36px, 0);
  }
  20% {
    clip: rect(78px, 9999px, 87px, 0);
  }
  25% {
    clip: rect(19px, 9999px, 47px, 0);
  }
  30% {
    clip: rect(57px, 9999px, 7px, 0);
  }
  35% {
    clip: rect(33px, 9999px, 25px, 0);
  }
  40% {
    clip: rect(110px, 9999px, 93px, 0);
  }
  45% {
    clip: rect(28px, 9999px, 16px, 0);
  }
  50% {
    clip: rect(14px, 9999px, 82px, 0);
  }
  55% {
    clip: rect(43px, 9999px, 31px, 0);
  }
  60% {
    clip: rect(89px, 9999px, 2px, 0);
  }
  65% {
    clip: rect(15px, 9999px, 77px, 0);
  }
  70% {
    clip: rect(6px, 9999px, 100px, 0);
  }
  75% {
    clip: rect(23px, 9999px, 94px, 0);
  }
  80% {
    clip: rect(7px, 9999px, 79px, 0);
  }
  85% {
    clip: rect(66px, 9999px, 71px, 0);
  }
  90% {
    clip: rect(21px, 9999px, 20px, 0);
  }
  95% {
    clip: rect(6px, 9999px, 36px, 0);
  }
  100% {
    clip: rect(17px, 9999px, 29px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 33px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #8eccbf;
  background: #0D1723;
  overflow: hidden;
  clip: rect(0, 1000px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(110px, 9999px, 86px, 0);
  }
  5% {
    clip: rect(97px, 9999px, 50px, 0);
  }
  10% {
    clip: rect(18px, 9999px, 48px, 0);
  }
  15% {
    clip: rect(44px, 9999px, 26px, 0);
  }
  20% {
    clip: rect(10px, 9999px, 69px, 0);
  }
  25% {
    clip: rect(74px, 9999px, 31px, 0);
  }
  30% {
    clip: rect(46px, 9999px, 56px, 0);
  }
  35% {
    clip: rect(71px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(74px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(74px, 9999px, 28px, 0);
  }
  50% {
    clip: rect(20px, 9999px, 3px, 0);
  }
  55% {
    clip: rect(52px, 9999px, 66px, 0);
  }
  60% {
    clip: rect(1px, 9999px, 45px, 0);
  }
  65% {
    clip: rect(48px, 9999px, 46px, 0);
  }
  70% {
    clip: rect(31px, 9999px, 87px, 0);
  }
  75% {
    clip: rect(110px, 9999px, 45px, 0);
  }
  80% {
    clip: rect(70px, 9999px, 71px, 0);
  }
  85% {
    clip: rect(31px, 9999px, 49px, 0);
  }
  90% {
    clip: rect(35px, 9999px, 62px, 0);
  }
  95% {
    clip: rect(52px, 9999px, 48px, 0);
  }
  100% {
    clip: rect(86px, 9999px, 8px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: 25px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: #8eccbf;
  background: #0D1723;
  overflow: hidden;
  clip: rect(0, 1000px, 0, 0);
  animation: noise-anim-2 2s infinite linear alternate-reverse;
}
.subtitle{
  text-align: center;
  font-size: 3em;
}
.fixMargin{
  margin-top: 0px;
>>>>>>> 190c214fd5e30d0e0b3804807df5a5ddc7fe3007
}
