body{
  background-color: #0D1723;
  color: #8C6528;
  font-family: 'Rokkitt', serif;
}
input{
  color: #0D1723;
}
h1{
  font-family: 'Kumar One', cursive;
  font-size: 6em;
  text-align: center;
}
#sample {
  margin: 0 auto;
}

.storyLine {
  width: 800px;
  margin: 0 auto;
}
.btn-default {
  background-color: #182534;
  border: 2px solid #203246;
  color: #8C6528;
}
.btn-default:hover, .btn-default:active, .btn-default:visited {
  background-color: #283e57;
  border: 2px solid #203246;
  color: #8C6528;
}

#player2-select-screen{
  display: none;
}
