<h2>well that's it, you did it! congrats to $game.getVictor() for an inspiring performance.</h2>

<br><br>

<h3>the game took $game.getTurns(), by the way</h3>



#foreach($victor in $hall-of-fame.all())
  <p>$victor.getName() ||| $victor.getTurns() turns ||| $victor.getMoment()</p>
#end

<a href="/">play again?</a>
