<h3>after having held its composure for decades, civilization has once more descended into chaos</h3>
<h1>Welcome to World War III</h1>


<a href="/one-player"><button type="button" class="btn-danger">One Player</button></a>

<br><br>

<a href="/two-player"><button type="button" class="btn-danger">Two Player</button></a>
