<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="https://cdn0.iconfinder.com/data/icons/military-glyph/2048/2201_-_Military_Base-512.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Black+Ops+One|Kumar+One|Special+Elite" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Gidugu|Inconsolata|Khand|Merriweather|Roboto+Mono|Rokkitt|Slabo+27px|Teko|Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="../../../../css/animate.css" type="text/css">
    <link rel="stylesheet" href="../../../../css/styles.css" type="text/css">
    <script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyD2mCd8iSCXWiFoE7x9opheTqCndj0jUAY&callback=initMap"></script>
    <script type="text/javascript" src="/js/states.js"></script>
    <script type="text/javascript" src="/js/frontend-scripts.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/java-javascript.js"></script>
    <title>CIVIL WAR II</title>
  </head>
  <body>
    <div class="container">


      #parse($template)


    </div>
  </body>
</html>
