<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="https://image.freepik.com/free-icon/military-base-with-flag_318-44222.jpg" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/styles.css" type="text/css">
    <script type="text/javascript" src="js/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="../../js/scripts.js"></script>
    <title>World War III</title>
  </head>
  <body>
    <div class="container">
      #parse($template)
    </div>
  </body>
</html>
