<form action="/play/start" method="post">

  <label for="name1">Player 1 name:</label>
  <input type="text" name="name1" required>

  <input class="hide" type="text" name="name2" value = "ComputerPlayer">

  <button type="submit" class="btn-danger">Begin!</button>
</form>
