<h3>choose your bases</h3>

<form action="/play/$game.getPlayerOfTurn().getName()/start" method="post">

  <div id="player1-bases">
  </div>

  <div id="player1button" type="submit" class="btn-danger">Select</div>

  <div id="player2-bases">
  </div>

  <button type="submit" class="btn-danger">Select</button>
</form>
