<h2>$game.getPlayer1().getName(), select your five military bases:</h2>
<div id = "sample" style = "width:900px; height:600px;"></div>
<form action="/select-bases-p2" method="post">


  <div id="player1-put-bases-for-java">
  </div>

  <div id="select-five-states-1"></div>


  <div id="player1-add-bases-button" class="btn-default baseButton">Pick Bases(Player 1)</div>
  <button id="player1-button" type="submit" class="btn-default disable-button">Finalize(Player 1)</button>

</form>
