<h2>$game.getPlayer1().getName(), select your five military bases:</h2>
<div id = "sample" style = "width:1000px; height:1000px;"></div>
<form action="/select-bases-p2" method="post">

  <div id="player1-put-bases-for-java">
  </div>

  <div id="player1-add-bases-button" class="btn btn-danger">Add Bases(Player 1)</div>
  <button id="player1-button" type="submit" class="btn btn-danger">Finalize(Player 1)</button>

</form>
