<h2>Select your five military bases:</h2>
<div id = "sample" style = "width:1000px; height:1000px;"></div>
<form action="/play/$game.getPlayerOfTurn().getName()/start" method="post">

  <div id="player1-bases">
  </div>

  <div id="player1button" type="submit" class="btn-default">Select</div>

  <div id="player2-bases">
  </div>

  <button type="submit" class="btn-default">Select</button>
</form>
