<h2>$game.getPlayer2().getName(), select your five military bases:</h2>
<div id = "sample" style = "width:1000px; height:1000px;"></div>
<form action="/play/$game.getPlayerOfTurn().getName()/start" method="post">

  <div id="player2-put-bases-for-java">
  </div>

  <div id="player2-add-bases-button" class="btn btn-danger">Add Bases(Player 2)</div>
  <button id="player2-button" type="submit" class="btn btn-danger disable-button">Finalize(Player 2)</button>


  </form>
