<form action="/play/start" method="post">

  <label for="name1">Player 1 name:</label>
  <input type="text" name="name1" required>

  <label for="name2">Player 2 name:</label>
  <input type="text" name="name2" required>

  <button type="submit" class="btn-danger">Begin!</button>
</form>
